version: "3.8"

services:
  backend:
    build: ./backend
    container_name: tp-backend
    ports:
      - "3000:3000"
    environment:
      - DB_HOST=dpg-d4jli5euk2gs73bo2kog-a.oregon-postgres.render.com
      - DB_PORT=5432
      - DB_USER=tpdevops_86i2_user
      - DB_PASSWORD=TFy9CX9pdWvmzPZ4qOT6QabsrdqD5vfS
      - DB_NAME=tpdevops_86i2
    networks:
      - webnet

  frontend:
    build: ./frontend
    container_name: tp-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - webnet

networks:
  webnet:
