version: "3.3"

services:
  backend:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    container_name: tp-backend
    ports:
      - "3000:3000"
    volumes:
      - data-volume:/app/database
    networks:
      - webnet

  frontend:
    build: ./frontend
    container_name: tp-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - webnet

networks:
  webnet:

volumes:
  data-volume:
