version: "3.8"

services:
  backend:
    build: ./backend
    container_name: tp-backend
    ports:
      - "3000:3000"
    environment:
      # Use your Render PostgreSQL database info here
      - DB_HOST=dpg-d4jli5euk2gs73bo2kog-a
      - DB_PORT=5432
      - DB_USER=tpdevops_86i2_user
      - DB_PASSWORD=YOUR_PASSWORD_HERE
      - DB_NAME=tpdevops_86i2
    depends_on:
      - db
    networks:
      - webnet

  frontend:
    build: ./frontend
    container_name: tp-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - webnet

  # Optional: you can remove this 'db' service if using only Render DB
  db:
    image: postgres:15
    container_name: tp-db
    environment:
      - POSTGRES_USER=tpdevops_86i2_user
      - POSTGRES_PASSWORD=YOUR_PASSWORD_HERE
      - POSTGRES_DB=tpdevops_86i2
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - webnet

networks:
  webnet:

volumes:
  db-data:
