version: "3.8"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: tp-backend
    ports:
      - "3000:3000"
    volumes:
      - data-volume:/app/database
    networks:
      - webnet
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/api || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 30

  frontend:
    build: ./frontend
    container_name: tp-frontend
    ports:
      - "8080:80"
    depends_on:
      backend:
        condition: service_healthy
    networks:
      - webnet

  database:
    image: nouchka/sqlite3:latest
    container_name: tp-database
    volumes:
      - data-volume:/app/database
    networks:
      - webnet

networks:
  webnet:

volumes:
  data-volume:
